{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block questions_class %}active{% endblock %}
{% block content %}
    <div class="ui two column grid">
        <div class="row">
            <div class="seven wide column">
                <h2 class="ui header">Najnovija pitanja</h2>
                <table class="latest-questions-table ui celled striped olive table">
                    <thead>
                        <tr>
                            <th>Pitanje</th>
                            <th>Kategorija</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="3">
                                <div class="ui text loader active centered inline">Učitavanje...</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="nine wide column">
                <h2 class="ui header">Raspodela po kategorijama</h2>
                <div id="chart-container">
                    <div id="chart"></div>
                </div>
            </div>
</div>
    </div>
    {% endblock %}

{% block scripts %}<script src="/dashboard/static/main.js"></script>{% endblock %}
