{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block surveys_class %}active{% endblock %}
{% block content %}
    <div class="ui two column grid">
        <div class="row">
            <div class="seven wide column">
                <h2 class="ui header">Anketna pitanja</h2>
               <div class="ui icon input">
                    <input class="prompt" type="text" placeholder="Pretraga pitanja...">
                    <i class="search icon"></i>
                </div>
                <table class="survey-questions-table ui selectable celled striped red table">
                    <thead>
                        <tr>
                            <th>Pitanje</th>
                            <th>Kategorija</th>
                            <th>Odgovori</th>
                        </tr>
                    </thead>
                    <tbody id="survey-question-table-body">
                        <tr>
                            <td colspan="3">
                                <div class="ui text loader active centered inline">Učitavanje...</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class="ui button">
                    Previous page
                </button>
                <button class="ui button">
                    Next page
                </button>
            </div>
            <div class="nine wide column">
                <h2 class="ui header">Raspodela odgovora</h2>
                <div class="ui secondary pointing menu">
                    <div id="global-view" class="item active"><a href="#">Globalno</a></div>
                    <div id="time-view" class="item"><a href="#">Kroz vreme</a></div>
                </div>
                <div class="tabs">
                    <div id="pie-tab">
                        <div id="chart-container">
                            <div class="surveys-chart" id="chart"></div>
                        </div>
                    </div>
                    <div id="line-tab" style="display: none">
                        <div id="chart-alt-container">
                            <div class="surveys-chart" id="chart-alt"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}<script src="/dashboard/static/surveys.js"></script>{% endblock %}

