/*
Default CSS for the Data inspector
see also: dataInspector.js, dataInspector.html
 */

/*
Grey color palette
https://www.google.com/design/spec/style/color.html
/*   #FAFAFA; /* Grey 50  */
/*   #F5F5F5; /* Grey 100 */
/*   #EEEEEE; /* Grey 200 */
/*   #E0E0E0; /* Grey 300 */
/*   #BDBDBD; /* Grey 400 */
/*   #9E9E9E; /* Grey 500 */
/*   #757575; /* Grey 600 */
/*   #616161; /* Grey 700 */
/*   #424242; /* Grey 800 */
/*   #212121; /* Grey 900 */

#myInspector {
    display: none;
}

.inspector {
    position: fixed;
    z-index: 3;
    box-sizing: border-box;
    width: 600px;
    height: 400px;
    bottom: -400px;
    transition: bottom 0.5s ease;
    right: 40px;
    font: bold 14px helvetica, sans-serif;
    background-color: #eee; /* Grey 900 */
    color: #222; /* Grey 100 */
    cursor: default;
    border: 1px solid #999;
}

.inspector.active {
    bottom: 0;
}

.inspector table {
    border-collapse: separate;
    border-spacing: 2px;
}

.inspector td, th {
    box-sizing: border-box;
}

.inspector td:first-child {
    width: 20%;
}

.inspector td:last-child {
    width: 80%;
}
.inspector input {
    background-color: #fff; /* Grey 800 */
    color: #222; /* Grey 100 */
    font: bold 12px helvetica, sans-serif;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
}

.inspector input:disabled {
    background-color: #BDBDBD; /* Grey 400 */
    color: #616161; /* Grey 700 */
}

