* {
	font-family: serif;
}

#myDiagramDiv {
	position: absolute; left: 0; top: 0; right: 0; bottom: 0;
	background: white;
}

#controls {
	z-index: 10;
	position: fixed;
	width: 100px;
	height: 50px;
	padding: 10px;
	right: 10px;
	top: 10px;
}

#jsonGui {
	background: #ccc;
	position: fixed;
	z-index: 40;
	width: 500px;
	height: 400px;
	bottom: -400px;
	left: 40px;
	box-sizing: border-box;
	padding: 20px;
	
  transition: bottom 0.5s ease;
}

#jsonGui.active {
	bottom: 0;
}